* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}
.firstpage {
background: url(img/hero.jpg);
background-size: cover;
height: 800px;

}
nav h3 {
color: white;
margin-left: 50px;
cursor: pointer;
font-size: 44px;
font-weight: 350;
}
.add {
position: relative;
top: 200px;
text-align: center;
}
.add h3 {
font-size: 44px;
font-weight: 350;
}
.mouse {
position: relative;
top: 500px;
left: 700px;
cursor: pointer;
}
.selection {
width: 25%;
display: flex;
justify-content: space-between;
}
input.men {
height: 25px;
width: 17px;
background-color: grey;
}
input.women {
height: 25px;
width: 17px;
background-color: grey;
}
input.children {
height: 25px;
width: 17px;
background-color: grey;
}
.card {
background-color: #D6CFC7;
height: 100px;
}
