* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}
.firstpage {
background: url(img/hero.jpg);
background-size: cover;
height: 800px;

}
nav h3 {
color: white;
margin-left: 50px;
cursor: pointer;
font-size: 44px;
font-weight: 350;
}
.add {
position: relative;
top: 200px;
text-align: center;
}
.add h3 {
font-size: 44px;
font-weight: 350;
}
.mouse {
position: relative;
top: 500px;
left: 700px;
cursor: pointer;
}
.selection {
width: 25%;
display: flex;
justify-content: space-between;
margin-left: 80px;
}
input.men {
height: 25px;
width: 17px;
background-color: grey;
}
input.women {
height: 25px;
width: 17px;
background-color: grey;
}
input.children {
height: 25px;
width: 17px;
background-color: grey;
}
.cardy {
background-color: #c9c2a9;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
input.see-all {
background-color: brown;
color: white;
border: 1px solid brown;
border-radius: 3px;
width: 180px;
height: 40px;
margin-right: 60px;
}
select {
border: none;
background-color: transparent;
width: 55px;
}
.dot1 {
height: 20px;
width: 20px;
background-color: rgb(32, 136, 32);
border-radius: 50%;
display: inline-block;
}
.dot2 {
height: 20px;
width: 20px;
background-color: blue;
border-radius: 50%;
display: inline-block;
}
.dot3 {
height: 20px;
width: 20px;
background-color: rgb(29, 27, 27);
border-radius: 50%;
display: inline-block;
}
.shirt {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
}
span p {
float: left;
margin-bottom: 20px
margin-top: 30px;
}
span hr {
width: 95%;
margin-left: 70px;
margin-top: 50px;
margin-bottom: 20px;
}
.price {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px;
/* margin-top: 40px; */
margin-bottom: 0px;
}
.price p{
color: #977900;
font-weight: 400px;
}
.phase1 {
/* height: 280px; */
margin-top: 30px;
width: 300px;
background-color: rgb(218, 220, 221);
}
img.tshat {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 60px;
}
.phase2 {
margin-top: 30px;
width: 300px;
background-color: rgb(218, 220, 221);
}
img.pant {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 60px;
}
