* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}
.firstpage {
background: url(img/hero.jpg);
background-size: cover;
height: 800px;
width: 100vw;
position: absolute;
}
nav h3 {
color: white;
margin-left: 50px;
cursor: pointer;
font-size: 44px;
font-weight: 350;
}
.add {
position: relative;
top: 200px;
text-align: center;
}
.add h3 {
font-size: 44px;
font-weight: 350;
}
.mouse {
position: relative;
top: 500px;
left: 700px;
cursor: pointer;
}